.ak-blog {

	&__search {
		font-size: 0;
		margin-bottom: 50px;

		input[type=text] {
			width: calc(100% - 50px);
			background-color: #ececec;
			height: 40px;
			line-height: 40px;
			padding: 0 15px;
			border: 1px solid transparent;
			display: inline-block;
			vertical-align: middle;	
			font-size: 12px;
			text-transform: uppercase;
			font-weight: 700;
			color: $color_main;

			&:focus {
				border: 1px solid $color_green;
			}
		}

		button {
			height: 40px;
			width: 50px;
			display: inline-block;
			vertical-align: middle;
			border: none;
			background: #ececec;
			font-size: 18px;
			white-space: nowrap;
			overflow: hidden;
			padding: 0 18px;
			color: $color_main;
			cursor: pointer;

			span {
				text-indent: 100px;
				display: inline-block;
			}

		}
	}

	&__tabs {
		li {
			width: 33%;
		}
	}

	&__category, &__tags, &__archive {
		padding-bottom: 45px;

		.ak-subtitle {
			margin-bottom: 10px;
		}
	}

	&__table {
				
		table {
			width: 100%;
			font-family: 'Open Sans', sans-serif;
			font-size: 14px;
			color: $color_main;

			tr {
				border-bottom: 1px solid $color_light;

				td {
					padding: 15px 0 15px 15px;
				}

				td:last-child {
					text-align: center;
				}
			}
		}

	}

	&__tags-list {
		list-style: none;
		padding-left: 0;
		text-align: justify;

		li {
			display: inline-block;
			margin-bottom: 5px;

			a {
				display: block;
				text-transform: uppercase;
				font-family: 'Montserrat', sans-serif;
				font-size: 12px;
				font-weight: 700;
				padding: 10px 15px;
				color: $color_light;
				background-color: #e5e5e5;

			}
		}
	}

}

.ak-post {
	margin-bottom: 70px;

	&:first-child {
		margin-top: -90px;

		@include media-breakpoint-down(sm) {
			margin-top: 0;
		}
	}

	&__thumb {
		margin-bottom: 30px;

		img {
			width: 100%;
			height: auto;
		}
	}

	&__info {
		margin: 30px 0 20px;
		color: $color_light;

		span {
			padding-left: 7px;
		}
	}

	&__likes {
		&-icon {
			color: #ea6a6a;
		}
	}

	&__title {
		font-size: 18px;
	}

	&__continue {
		font-weight: 700;
		line-height: 24px;
		margin: 30px 0;
		display: inline-block;
		
	}


}



.ak-blog-sp {
	font-size: 0;
	padding: 30px 0;

	&__img {
		display: inline-block;
		vertical-align: middle;
		width: 80px;
		height: 80px;
		margin-bottom: 10px;
	}

	&__info {
		font-size: 12px;
		width: calc(100% - 80px);
		display: inline-block;
		vertical-align: middle;
		padding-left: 15px;
	}

	&__title {
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		line-height: 18px;
		font-weight: 700;
		text-transform: uppercase;
		color: $color_main;
	}

	&__date {
		font-size: 12px;
		line-height: 18px;
		color: #9a9a9a;
	}
}
